@themeBg: #222;
@themeColor: #ffcd32;
@fontColor: #999;

#app{
  min-height: 100%;
  /*默认主题*/
  background-color: #222;
  .header-bar {
    background-color: @themeBg;
    .title .tit,.user{
      color: @themeColor;
    }
  }

  .home{
    h3{
      color: @themeColor;
    }
    .con {
      color: #fff;
      .name{
        color: #888;
      }
    }
  }

  .singer{
    .van-index-anchor {
      background-color: #333;
      color: @fontColor;
      &.van-index-anchor--sticky{
        color: @themeColor !important;
      }
    }
    .van-index-bar__sidebar{
      background-color: rgba(24, 24, 24, 0.5);
      color: @fontColor;
      .van-index-bar__index--active{
        color: @themeColor !important;
      }
    }
    .cell p{
      color: @fontColor;
    }
  }

  .singer-detail{
    background-color: @themeBg;
    .singer-img{
      color: #fff;
    }
    .song-list{
      background-color: @themeBg;
      .cell p{
        color: #b9b9b9;
        &.name{
          color: #666;
        }
      }
    }
    .info{
      color: #b9b9b9;
    }
  }

  .van-tabs__nav--line.van-tabs__nav{
    background-color: @themeBg;
    color: @themeColor;
  }
  .van-tabs__wrap{
    .van-tab{
      color: @fontColor;
      &.van-tab--active{
        color: @themeColor;
      }
    }
    .van-tabs__line{
      background-color: @themeColor;
    }
  }
  .van-icon-arrow-left{
    color: @themeColor;
  }

  /*亮色主题*/
  &.light{
    background-color: #fff;
    .header-bar {
      background-color: #fff;
      .title .tit,.user{
        color:#EE0A24;
      }
    }
  }
}
