@themeBg: #222;
@themeBgSub: #333;
@themeColor: #ffcd32;
@fontColor: #999;
@fontColorSub: #fff;

#app {
  min-height: 100%;
  /***默认主题***/
  background-color: @themeBg;

  .header-bar {
    background-color: @themeBg;
    .title .tit, .user {
      color: @themeColor;
    }
  }

  //播放页
  .player {
    .van-popup {
      background-color: @themeBgSub;
      color: @fontColorSub;
      .song-list li.active{
        color: @themeColor;
      }
    }
    .normal-player{
      background-color: @themeBg;
      .top{
        color: @fontColorSub;
      }
      .main{
        color: @fontColorSub;
        .disc{
          border: 10px solid #393939;
        }
        .lyric{
          color: #666;
          &.warp:before{
            background-image: linear-gradient(
                    180deg,
                    rgba(34, 34, 34, 0.9),
                    rgba(34, 34, 34, 0.4)
            ),
            linear-gradient(
                    0deg,
                    rgba(34, 34, 34, 0.9),
                    rgba(34, 34, 34, 0.4)
            );
          }
          .current {
            color: @themeColor;
          }
        }
      }
      .bottom{
        .option .icon-svg.icon-svg__icon-like-fill {
          color: #d93f30;
        }
        .progress-warp{
          color: @fontColorSub;
          .van-slider__bar {
            background-color: @themeColor;
          }
          .van-slider__button{
            background-color: @themeColor;
            border: 3px solid @fontColorSub;
          }
        }
      }
    }
    .mini-player{
      background-color: @themeBgSub;
      .mini-disc .van-circle__layer {
        stroke: @themeColor !important;
      }
      .text p{
        color: @fontColorSub;
      }
      .icon-svg{
        color: #998032;
      }
    }
  }

  //首页
  .home {
    h3 {
      color: @themeColor;
    }

    .con {
      color: @fontColorSub;
      .name {
        color: #888;
      }
    }
  }

  //歌手列表页
  .singer {
    .van-index-anchor {
      background-color: @themeBgSub;
      color: @fontColor;
      &.van-index-anchor--sticky {
        color: @themeColor !important;
      }
    }
    .van-index-bar__sidebar {
      background-color: rgba(24, 24, 24, 0.5);
      color: @fontColor;
      .van-index-bar__index--active {
        color: @themeColor !important;
      }
    }

    .cell p {
      color: @fontColor;
    }
  }

  //歌手详情页
  .singer-detail {
    background-color: @themeBg;
    .singer-img {
      color: @fontColorSub;
    }

    .song-list {
      background-color: @themeBg;
      .cell p {
        color: #b9b9b9;
        &.name {
          color: #666;
        }
      }
    }

    .info {
      color: #b9b9b9;
    }
  }
  
  //我的
  .my{
    .name{
      color: @fontColorSub;
    }
    .menu {
      background-color: @themeBgSub;
      li{
        color: @fontColor;
      }
    }
    button{
      color: #999;
    }
  }

  //其他
  .van-tabs__nav--line.van-tabs__nav {
    background-color: @themeBg;
    color: @themeColor;
  }

  .van-tabs__wrap {
    .van-tab {
      color: @fontColor;

      &.van-tab--active {
        color: @themeColor;
      }
    }

    .van-tabs__line {
      background-color: @themeColor;
    }
  }

  .van-icon {
    color: @themeColor;
  }

  /***亮色主题***/
  &.light {
    background-color: #fff;

    .header-bar {
      background-color: #fff;

      .title .tit, .user {
        color: #EE0A24;
      }
    }
  }
}
